body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff009d;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 2rem;
}